# sh syntax please

#
# colors
# gradients start with COLORHI and end with COLORLO
#

# inner cursor colors, #999999 and #555555 in source image
CURSORCOLORHI="#ff6666"
CURSORCOLORLO="#ff0000"

# shadow color, processed by ImageMagick
SHADOWCOLOR="#000000"

# the outline color, #000000 in source image
OUTLINECOLOR="#000000"

# the hair color (text, crosshair), #010101 in source image
HAIR="#000000"

# the hilight colors, #999933 and #666600 in source image
HILIGHTHI="#ffff33"
HILIGHTLO="#cccc00"

#
# transparency
#

# cursor and shadow transparancy
# 0=opague, 1=transparent
CURSORTRANS=0.3
SHADOWTRANS=0.7

# the shadow might need to get scaled...
SHADOWSCALE=0.9

#
# geometry
#

# final image size (height=width)
SIZE=32

# the outline width in pixel in 1000x1000 source image
OUTLINE=40

# shadow blur distance
BLUR=5

# shadow offset
XOFFSET=0
YOFFSET=3

#
# misc
#

# temporary image processing scale
TMPSCALE=4

# temporary image processing directory
TMPDIR=/tmp

